# eclipse
eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
classes
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
.index
.hprof

#Netbeans (It says beans lol)
.nb-gradle
.nb-gradle-properties

# other
run
.DS_Store
Thumbs.db
bytecode
